/* app css stylesheet */
/* line 61, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/ProximaNova/Bold/proxima-nova-bold-webfont.eot");
  src: url("../fonts/ProximaNova/Bold/proxima-nova-bold-webfont.woff") format("woff"), url("../fonts/ProximaNova/Bold/proxima-nova-bold-webfont.ttf") format("truetype"), url("../fonts/ProximaNova/Bold/proxima-nova-bold-webfont.svg") format("svg"), url("../fonts/ProximaNova/Bold/Proxima-Nova-Bold.otf") format("opentype"), url("../fonts/ProximaNova/Bold/proxima-nova-bold-webfont.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url("../fonts/ProximaNova/Light/proxima-nova-light-webfont.eot");
  src: url("../fonts/ProximaNova/Light/proxima-nova-light-webfont.woff") format("woff"), url("../fonts/ProximaNova/Light/proxima-nova-light-webfont.ttf") format("truetype"), url("../fonts/ProximaNova/Light/proxima-nova-light-webfont.svg") format("svg"), url("../fonts/ProximaNova/Light/Proxima-Nova-Light.otf") format("opentype"), url("../fonts/ProximaNova/Light/proxima-nova-light-webfont.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/ProximaNova/Regular/proxima-nova-regular-webfont.eot");
  src: url("../fonts/ProximaNova/Regular/proxima-nova-regular-webfont.woff") format("woff"), url("../fonts/ProximaNova/Regular/proxima-nova-regular-webfont.ttf") format("truetype"), url("../fonts/ProximaNova/Regular/proxima-nova-regular-webfont.svg") format("svg"), url("../fonts/ProximaNova/Regular/Proxima-Nova-Regular.otf") format("opentype"), url("../fonts/ProximaNova/Regular/proxima-nova-regular-webfont.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url("../fonts/ProximaNova/Semibold/proxima-nova-semibold-webfont.eot");
  src: url("../fonts/ProximaNova/Semibold/proxima-nova-semibold-webfont.woff") format("woff"), url("../fonts/ProximaNova/Semibold/proxima-nova-semibold-webfont.ttf") format("truetype"), url("../fonts/ProximaNova/Semibold/proxima-nova-semibold-webfont.svg") format("svg"), url("../fonts/ProximaNova/Semibold/Proxima-Nova-Semibold.otf") format("opentype"), url("../fonts/ProximaNova/Semibold/proxima-nova-semibold-webfont.eot?#iefix") format("embedded-opentype");
}

/* line 51, ../sass/app.scss */
.modal-header {
  font-size: 20px;
  font-family: "ProximaNova-Regular";
}

/* line 56, ../sass/app.scss */
.modal-body {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-top: 0px;
}

/* line 63, ../sass/app.scss */
.modal-body-content {
  padding: 20px;
}

/* line 68, ../sass/app.scss */
.modal-option {
  cursor: pointer;
  padding: 20px;
}

/* line 73, ../sass/app.scss */
.modal-option:hover {
  background-color: #FF3030;
  color: #FFF;
}

/* line 78, ../sass/app.scss */
.btn-primary {
  background-image: -webkit-linear-gradient(top, #ff8c8c 0, #ff3030 100%);
  background-image: linear-gradient(to bottom, #ff8c8c 0%, #ff3030 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8C8C', endColorstr='#FF3030', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #FF3030;
}

/* line 88, ../sass/app.scss */
.btn-primary:active, .btn-primary.active {
  background-color: #FF3030;
  border-color: #E72626;
}

/* line 93, ../sass/app.scss */
.btn-primary:hover {
  background-color: #FF3030;
  border-color: #E72626;
}

/* line 98, ../sass/app.scss */
.btn-primary:focus {
  background-color: #FF3030;
  border-color: #E72626;
}

/* line 103, ../sass/app.scss */
.jslider_round .jslider-bg i, .jslider_round .jslider-pointer {
  background: #FF3030;
}

/* line 107, ../sass/app.scss */
html {
  font-family: "ProximaNova-Light", "Arial", "Helvetica", "Sans-serif";
  height: 100%;
}

/* line 112, ../sass/app.scss */
html a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

/* line 118, ../sass/app.scss */
html a:hover {
  text-decoration: none;
  color: #333;
}

/* line 123, ../sass/app.scss */
body {
  height: 100%;
  background-color: #000;
}

/* line 127, ../sass/app.scss */
body .body-wrapper {
  background-color: #fff;
}

/* line 131, ../sass/app.scss */
.display-none {
  display: none;
}

/* line 135, ../sass/app.scss */
.no-float {
  float: none;
}

/* line 139, ../sass/app.scss */
.auto-margin {
  margin: auto;
}

/* line 143, ../sass/app.scss */
.float-right {
  float: right;
}

/* line 147, ../sass/app.scss */
.float-left {
  float: left;
}

/* line 151, ../sass/app.scss */
.text-center {
  text-align: center;
}

/* line 155, ../sass/app.scss */
.bold {
  font-weight: bold;
}

/* line 159, ../sass/app.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 163, ../sass/app.scss */
.block {
  display: block;
}

/* line 167, ../sass/app.scss */
.inline-block {
  display: inline-block;
}

/* line 171, ../sass/app.scss */
.align-top {
  vertical-align: top;
}

/* line 175, ../sass/app.scss */
.relative {
  position: relative;
}

/* line 179, ../sass/app.scss */
.single-line {
  white-space: nowrap;
  overflow: hidden;
}

/* line 184, ../sass/app.scss */
.loading-img-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 195, ../sass/app.scss */
.loading-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  text-align: center;
  background: #fff;
}

/* line 207, ../sass/app.scss */
.loading-img {
  background: url("../img/global/loading.gif") no-repeat;
  height: 35px;
  width: 35px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 216, ../sass/app.scss */
.loading-logo {
  background: url("../img/global/logo-01.png") no-repeat;
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 10%;
}

/* line 224, ../sass/app.scss */
.loading-img-wrapper.active {
  display: block;
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 230, ../sass/app.scss */
#wrapper {
  position: relative;
  padding-left: 0px;
  transition: all .4s ease 0s;
  overflow: auto;
  height: auto;
}

/* line 239, ../sass/app.scss */
#header {
  height: auto;
  color: #fff;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* line 249, ../sass/app.scss */
#header .header-centre {
  width: auto;
  position: relative;
  margin: auto;
}

/* line 255, ../sass/app.scss */
#header #main-logo {
  vertical-align: middle;
  margin: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50px;
}

/* line 263, ../sass/app.scss */
#header .noshow #main-logo {
  width: 0px;
  height: 50px;
}

/* line 268, ../sass/app.scss */
#header #right-navigation-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  vertical-align: middle;
  height: 26px;
  margin: auto;
}

/* line 278, ../sass/app.scss */
#header .nav-wrapper {
  display: inline-block;
  vertical-align: middle;
}

/* line 283, ../sass/app.scss */
#header .contact-image-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

/* line 297, ../sass/app.scss */
#header #main-navbar-menu {
  margin: 11px;
  padding: 10px;
  position: relative;
}

/* line 303, ../sass/app.scss */
#header .menu-key-line {
  border-bottom: 3px solid #000;
  width: 30px;
  height: 4px;
  margin-bottom: 4px;
}

/* line 310, ../sass/app.scss */
#header .divider {
  height: 1px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: auto;
}

/* line 318, ../sass/app.scss */
#header .navbar-nav {
  margin: 0px;
}

/* line 322, ../sass/app.scss */
#header .primary-nav {
  height: 25px;
}

/* line 326, ../sass/app.scss */
#header .dropdown.open a {
  text-decoration: none;
  border-bottom: 2px solid #FF3030;
  color: #000;
  background-color: transparent;
}

/* line 335, ../sass/app.scss */
#header .primary-nav li {
  position: relative;
  display: inline-block;
}

/* line 340, ../sass/app.scss */
#header .primary-nav li {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 345, ../sass/app.scss */
#header .primary-nav li a {
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  display: block;
  font-size: 16px;
  margin-left: 0px;
  margin-right: 0px;
  color: #000;
  text-decoration: none;
}

/* line 357, ../sass/app.scss */
#header .primary-nav li a:hover {
  border-bottom: 2px solid #FF3030;
  color: #000;
}

/* line 362, ../sass/app.scss */
#header .primary-nav .dropdown-menu {
  right: 0;
  left: auto;
  width: 100%;
  min-width: 200px;
}

/* line 369, ../sass/app.scss */
#header .primary-nav .dropdown-menu li {
  display: block;
  margin-left: 0px;
  margin-right: 0px;
}

/* line 375, ../sass/app.scss */
#header .primary-nav .dropdown-menu li a {
  background-color: transparent;
  border-bottom: transparent;
  background: none;
}

/* line 381, ../sass/app.scss */
#header .primary-nav .dropdown-menu li:hover {
  background-color: #FF3030;
}

/* line 385, ../sass/app.scss */
#header .primary-nav .dropdown-menu li a:hover {
  color: #fff;
}

/* line 389, ../sass/app.scss */
#header .navbar-collapse {
  max-height: none;
  padding-left: 0px;
  padding-right: 0px;
}

/* line 395, ../sass/app.scss */
.form-group label {
  margin-bottom: 5px;
}

/* line 399, ../sass/app.scss */
.form-group label.error {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 12px;
  color: red;
}

/* line 406, ../sass/app.scss */
.form-group {
  height: 80px;
  margin-bottom: 0px;
}

/* line 411, ../sass/app.scss */
.title {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  font-size: 40px;
  display: inline-block;
}

/* line 418, ../sass/app.scss */
.padded-body {
  padding: 15px;
}

/*
* home
*/
/* line 427, ../sass/app.scss */
.home {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/* line 436, ../sass/app.scss */
.home .home-background {
  position: absolute;
  background: #04335F;
  background: url("../img/global/home-background.png");
  width: 100%;
  height: 100%;
  min-height: 370px;
}

/* line 446, ../sass/app.scss */
.home .fake-height {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0px;
}

/* line 453, ../sass/app.scss */
.home .container {
  display: inline-block;
  margin: auto;
  text-align: left;
  vertical-align: middle;
  width: 98%;
  margin-bottom: 10%;
}

/* line 462, ../sass/app.scss */
.home .home-title {
  color: #fefefe;
  font-size: 27px;
  text-align: center;
  margin-bottom: 20px;
}

/* line 474, ../sass/app.scss */
.overview .overview-top-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 479, ../sass/app.scss */
.overview .overview-row-wrapper {
  margin-bottom: 10px;
}

/* line 483, ../sass/app.scss */
.overview .overview-left-col {
  display: inline-block;
  vertical-align: top;
  min-width: 360px;
  margin-right: 20px;
  margin-bottom: 5px;
  font-family: "ProximaNova-Regular";
}

/* line 492, ../sass/app.scss */
.overview .overview-right-col {
  display: inline-block;
  vertical-align: top;
  min-width: 360px;
}

/* line 499, ../sass/app.scss */
.overview .overview-campaign-title-wrapper {
  font-size: 35px;
  padding: 10px;
}

/* line 504, ../sass/app.scss */
.overview .overview-campaign-title-wrapper:hover {
  background-color: #FF3030;
  color: #fff;
}

/* line 509, ../sass/app.scss */
.overview .collapse {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 514, ../sass/app.scss */
.overview .collapsing {
  padding-left: 15px;
  padding-right: 15px;
}

/*
Profile
*/
/* line 523, ../sass/app.scss */
.profile {
  text-align: center;
  margin-bottom: 50px;
  padding: 0px;
}

/* line 530, ../sass/app.scss */
.profile .form-group {
  padding: 0px;
}

/* line 534, ../sass/app.scss */
.profile .profileTopWrapper {
  position: relative;
  display: inline-block;
  text-align: left;
  max-width: 100%;
  vertical-align: top;
  padding: 0px;
  border-right: 1px solid #cdcdcd;
}

/* line 544, ../sass/app.scss */
.profile .profileImageWrapper {
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 90%;
}

/* line 557, ../sass/app.scss */
.profile .profileImage {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 564, ../sass/app.scss */
.profile .profileBottomWrapper {
  text-align: left;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 0px;
  border-left: 1px solid #cdcdcd;
  margin-left: -1px;
}

/* line 574, ../sass/app.scss */
.profile .profileQuickBio {
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 580, ../sass/app.scss */
.profile .profileBioDetails {
  margin-bottom: 5px;
}

/* line 584, ../sass/app.scss */
.profile .profileBio {
  padding: 15px;
  padding-top: 0px;
  text-align: left;
}

/* line 590, ../sass/app.scss */
.profile .profileBio .form-group {
  height: auto;
  margin-bottom: 15px;
}

/* line 595, ../sass/app.scss */
.profile .profileBio textarea {
  resize: vertical;
  max-height: 300px;
}

/* line 600, ../sass/app.scss */
.profile .profileBioTitle {
  position: relative;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 0px;
}

/* line 607, ../sass/app.scss */
.profile .profileBio .profile-section-title {
  margin: 0px;
  display: inline-block;
  vertical-align: top;
  padding: 0px;
}

/* line 614, ../sass/app.scss */
.profile .profileEditButton {
  cursor: pointer;
  font-family: "ProximaNova-Regular";
  font-size: 20px;
  padding: 15px;
}

/* line 622, ../sass/app.scss */
.profile .profileEditButton:hover {
  background-color: #FF3030;
  color: #fff;
}

/* line 628, ../sass/app.scss */
.profile .profile-advertise-stats-wrapper,
.profile .profile-publisher-stats-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 633, ../sass/app.scss */
.profile .profileCampaigntitle {
  margin-bottom: 0px;
  font-size: 20px;
  font-family: "ProximaNova-Regular";
  padding-left: 15px;
  padding-right: 15px;
}

/* line 641, ../sass/app.scss */
.profile .profileStats {
  padding: 0px;
}

/* line 645, ../sass/app.scss */
.profile .profile-title {
  margin-bottom: 10px;
  font-family: "ProximaNova-Regular";
}

/* line 650, ../sass/app.scss */
.profile .profile-sub-title {
  margin-bottom: 10px;
}

/* line 655, ../sass/app.scss */
.profile .profile-section-title {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "ProximaNova-Regular";
}

/* line 662, ../sass/app.scss */
.profile .profile-row-wrapper {
  margin-bottom: 10px;
  padding: 0px;
}

/* line 667, ../sass/app.scss */
.profile .profile-left-col {
  vertical-align: top;
  display: inline-block;
  margin-bottom: 5px;
  font-family: "ProximaNova-Regular";
  padding: 0px;
}

/* line 676, ../sass/app.scss */
.profile .profile-right-col {
  vertical-align: top;
  display: inline-block;
  padding: 0px;
}

/* line 684, ../sass/app.scss */
.profile #publishingCampaignAccordion,
.profile #advertisingCampaignAccordion {
  padding: 0px;
}

/* line 690, ../sass/app.scss */
.profile #publishingCampaignAccordion .profile-title,
.profile #advertisingCampaignAccordion .profile-title {
  padding: 15px;
  margin-bottom: 0px;
}

/* line 696, ../sass/app.scss */
.profile #publishingCampaignAccordion .profile-row-wrapper,
.profile #advertisingCampaignAccordion .profile-row-wrapper {
  margin-bottom: 0px;
  padding: 0px;
}

/* line 702, ../sass/app.scss */
.profile #publishingCampaignAccordion .profile-title:hover,
.profile #advertisingCampaignAccordion .profile-title:hover {
  background-color: #FF3030;
  color: #fff;
}

/* line 707, ../sass/app.scss */
.profile .collapse {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 712, ../sass/app.scss */
.profile .collapsing {
  padding-left: 15px;
  padding-right: 15px;
}

/*
*
*	Edit profile
*
*/
/* line 725, ../sass/app.scss */
.editProfile {
  text-align: center;
  margin-bottom: 50px;
  padding: 0px;
}

/* line 732, ../sass/app.scss */
.editProfile .form-group {
  padding: 0px;
}

/* line 736, ../sass/app.scss */
.editProfile .profileTopWrapper {
  position: relative;
  display: inline-block;
  text-align: left;
  max-width: 100%;
  vertical-align: top;
  padding: 0px;
  border-right: 1px solid #cdcdcd;
}

/* line 746, ../sass/app.scss */
.editProfile .profileImageWrapper {
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 90%;
}

/* line 759, ../sass/app.scss */
.editProfile .profileImage {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 766, ../sass/app.scss */
.editProfile .profileBottomWrapper {
  text-align: left;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 0px;
  border-left: 1px solid #cdcdcd;
  margin-left: -1px;
}

/* line 776, ../sass/app.scss */
.editProfile .profileQuickBio {
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 782, ../sass/app.scss */
.editProfile .profileBioDetails {
  margin-bottom: 5px;
}

/* line 786, ../sass/app.scss */
.editProfile .profileBio {
  padding: 15px;
  padding-top: 0px;
  text-align: left;
}

/* line 792, ../sass/app.scss */
.editProfile .profileBio .form-group {
  height: auto;
  margin-bottom: 15px;
}

/* line 797, ../sass/app.scss */
.editProfile .profileBio textarea {
  resize: vertical;
  max-height: 300px;
}

/* line 802, ../sass/app.scss */
.editProfile .profile-row-wrapper {
  margin-bottom: 10px;
  padding: 0px;
}

/* line 807, ../sass/app.scss */
.editProfile .profile-left-col {
  vertical-align: top;
  display: inline-block;
  margin-bottom: 5px;
  font-family: "ProximaNova-Regular";
  padding: 0px;
}

/* line 816, ../sass/app.scss */
.editProfile .profile-right-col {
  vertical-align: top;
  display: inline-block;
  padding: 0px;
}

/* line 823, ../sass/app.scss */
.editProfile .profile-row-button {
  padding: 15px;
  font-family: "ProximaNova-Regular";
  cursor: pointer;
}

/* line 829, ../sass/app.scss */
.editProfile .profile-row-button:hover {
  color: #fff;
  background-color: #FF3030;
}

/* line 835, ../sass/app.scss */
.editProfile .profile-section-title {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "ProximaNova-Regular";
}

/* line 842, ../sass/app.scss */
.editProfile .profileCampaigntitle {
  margin-bottom: 0px;
  font-size: 20px;
  font-family: "ProximaNova-Regular";
  padding-left: 15px;
  padding-right: 15px;
}

/*
Users
*/
/* line 857, ../sass/app.scss */
.users {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 862, ../sass/app.scss */
.users .showUsersWrapper {
  display: block;
}

/* line 866, ../sass/app.scss */
.users .showUsersWrapper .btn {
  float: none;
  display: block;
  border-radius: 0px;
  margin: 0px;
  width: 100%;
  margin-bottom: 1px;
  padding: 10px;
}

/* line 876, ../sass/app.scss */
.users .slider-container {
  position: relative;
  padding: 10px;
}

/* line 881, ../sass/app.scss */
.users .filters-container {
  width: 270px;
  display: inline-block;
  vertical-align: top;
}

/* line 887, ../sass/app.scss */
.users .users-container {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

/* line 893, ../sass/app.scss */
.users .selectmenuReset {
  vertical-align: middle !important;
  margin-bottom: 0px !important;
  width: 65px !important;
}

/*
Campaign
*/
/* line 904, ../sass/app.scss */
.campaign .showCampaignsWrapper {
  display: block;
}

/* line 908, ../sass/app.scss */
.campaign .showCampaignsWrapper .btn {
  float: none;
  display: block;
  border-radius: 0px;
  margin: 0px;
  width: 100%;
  margin-bottom: 1px;
  padding: 10px;
}

/*
Register
*/
/* line 927, ../sass/app.scss */
.register .panel-heading {
  padding-left: 30px;
}

/* line 932, ../sass/app.scss */
.recoverpassword .form-group {
  padding: 0px;
}

/* line 937, ../sass/app.scss */
.confirmregistration .form-group {
  padding: 0px;
  height: auto;
}

/* line 942, ../sass/app.scss */
.confirmregistration #confirmRegisterForm .form-group {
  height: 80px;
}

/* line 947, ../sass/app.scss */
.confirmregistration .panel-body {
  padding: 0px;
}

/* line 951, ../sass/app.scss */
.confirmregistration a {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
}

/* line 960, ../sass/app.scss */
.confirmregistration a:hover {
  background-color: #FF3030;
  color: #fff;
}

/* line 971, ../sass/app.scss */
.activateregistration .form-group {
  padding: 0px;
  height: auto;
}

/* line 977, ../sass/app.scss */
.activateregistration .panel-body {
  padding: 0px;
}

/*
UI VIEW ANIMATION
*/
/* line 988, ../sass/app.scss */
#view-wrapper {
  z-index: 0;
  height: 100%;
  margin-top: 85px;
}

/* line 995, ../sass/app.scss */
[ui-view].main-view {
  position: relative;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  overflow: hidden;
}

/*
FOOTER
*/
/* line 1009, ../sass/app.scss */
#footer {
  height: auto;
  position: relative;
  bottom: 0;
  padding: 2px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  color: #fff;
  background: #000;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* line 1022, ../sass/app.scss */
#footer li {
  padding: 10px;
}

/* line 1026, ../sass/app.scss */
#footer li:hover {
  background-color: #FF3030;
}

/* line 1030, ../sass/app.scss */
#footer ul a {
  color: #fff;
  font-size: 15px;
}

@media (max-width: 767px) {
  /* line 1055, ../sass/app.scss */
  .loading-logo {
    background: url("../img/global/logo-02.png") no-repeat;
    width: 200px;
    height: 200px;
  }

  /* line 1061, ../sass/app.scss */
  .title {
    font-size: 30px;
  }

  /* line 1065, ../sass/app.scss */
  .overview {
    font-size: 18px;
  }

  /* line 1069, ../sass/app.scss */
  .overview .overview-campaign-title-wrapper {
    font-size: 25px;
  }

  /* line 1074, ../sass/app.scss */
  #header #main-logo {
    margin-top: 10px;
    margin-bottom: 9px;
  }

  /* line 1085, ../sass/app.scss */
  #header #right-navigation-wrapper {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    height: auto;
  }

  /* line 1092, ../sass/app.scss */
  #header .nav-wrapper {
    display: block;
  }

  /* line 1096, ../sass/app.scss */
  #header .contact-image-wrapper {
    display: none;
  }

  /* line 1100, ../sass/app.scss */
  #header .primary-nav {
    height: auto;
  }

  /* line 1104, ../sass/app.scss */
  #header .primary-nav li a {
    padding: 15px;
    margin: 0px;
  }

  /* line 1109, ../sass/app.scss */
  #header .primary-nav li a:hover {
    background-color: #FF3030;
    color: #fff;
    border-bottom: none;
  }

  /* line 1115, ../sass/app.scss */
  #header .primary-nav {
    float: none;
    position: relative;
    width: auto;
    right: auto;
  }

  /* line 1122, ../sass/app.scss */
  #header .primary-nav li {
    float: none;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
  }

  /* line 1129, ../sass/app.scss */
  #view-wrapper {
    margin-top: 85px;
  }

  /* line 1134, ../sass/app.scss */
  .users .filters-container {
    width: 100%;
  }

  /* line 1142, ../sass/app.scss */
  .profile .profileTopWrapper {
    text-align: center;
  }

  /* line 1146, ../sass/app.scss */
  .profile .profileQuickBio {
    text-align: center;
  }

  /* line 1154, ../sass/app.scss */
  .profile .profileTopWrapper {
    border-right: none;
  }

  /* line 1158, ../sass/app.scss */
  .profile .profileBottomWrapper {
    border-left: none;
    margin-left: 0px;
  }

  /* line 1164, ../sass/app.scss */
  .profile .profileImageWrapper {
    float: none;
  }

  /* line 1171, ../sass/app.scss */
  .editProfile .profileTopWrapper {
    text-align: center;
  }

  /* line 1175, ../sass/app.scss */
  .editProfile .profileQuickBio {
    text-align: center;
  }

  /* line 1183, ../sass/app.scss */
  .editProfile .profileTopWrapper {
    border-right: none;
  }

  /* line 1187, ../sass/app.scss */
  .editProfile .profileBottomWrapper {
    border-left: none;
    margin-left: 0px;
  }

  /* line 1192, ../sass/app.scss */
  .editProfile .profileImageWrapper {
    float: none;
  }
}
/* mobile */
@media (max-height: 680px) {
  /* line 1220, ../sass/app.scss */
  #header {
    position: relative;
  }

  /* line 1224, ../sass/app.scss */
  #wrapper {
    overflow: visible;
  }

  /* line 1228, ../sass/app.scss */
  #view-wrapper {
    margin-top: 15px;
  }
}
