/* app css stylesheet */


@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('../fonts/ProximaNova/Bold/proxima-nova-bold-webfont.eot');
	src: url('../fonts/ProximaNova/Bold/proxima-nova-bold-webfont.woff') format('woff'), 
	     url('../fonts/ProximaNova/Bold/proxima-nova-bold-webfont.ttf')  format('truetype'),
	     url('../fonts/ProximaNova/Bold/proxima-nova-bold-webfont.svg') format('svg'),
	     url('../fonts/ProximaNova/Bold/Proxima-Nova-Bold.otf') format('opentype'),
	     url('../fonts/ProximaNova/Bold/proxima-nova-bold-webfont.eot?#iefix') format('embedded-opentype');
} 
  
@font-face {
	font-family: 'ProximaNova-Light';
	src: url('../fonts/ProximaNova/Light/proxima-nova-light-webfont.eot');
	src: url('../fonts/ProximaNova/Light/proxima-nova-light-webfont.woff') format('woff'), 
	     url('../fonts/ProximaNova/Light/proxima-nova-light-webfont.ttf')  format('truetype'),
	     url('../fonts/ProximaNova/Light/proxima-nova-light-webfont.svg') format('svg'),
	     url('../fonts/ProximaNova/Light/Proxima-Nova-Light.otf') format('opentype'),
	     url('../fonts/ProximaNova/Light/proxima-nova-light-webfont.eot?#iefix') format('embedded-opentype');
}

@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('../fonts/ProximaNova/Regular/proxima-nova-regular-webfont.eot');
	src: url('../fonts/ProximaNova/Regular/proxima-nova-regular-webfont.woff') format('woff'), 
	     url('../fonts/ProximaNova/Regular/proxima-nova-regular-webfont.ttf')  format('truetype'),
	     url('../fonts/ProximaNova/Regular/proxima-nova-regular-webfont.svg') format('svg'),
	     url('../fonts/ProximaNova/Regular/Proxima-Nova-Regular.otf') format('opentype'),
	     url('../fonts/ProximaNova/Regular/proxima-nova-regular-webfont.eot?#iefix') format('embedded-opentype');
}

@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url('../fonts/ProximaNova/Semibold/proxima-nova-semibold-webfont.eot');
	src: url('../fonts/ProximaNova/Semibold/proxima-nova-semibold-webfont.woff') format('woff'), 
	     url('../fonts/ProximaNova/Semibold/proxima-nova-semibold-webfont.ttf')  format('truetype'),
	     url('../fonts/ProximaNova/Semibold/proxima-nova-semibold-webfont.svg') format('svg'),
	     url('../fonts/ProximaNova/Semibold/Proxima-Nova-Semibold.otf') format('opentype'),
	     url('../fonts/ProximaNova/Semibold/proxima-nova-semibold-webfont.eot?#iefix') format('embedded-opentype');
}


html{
	font-family: "ProximaNova-Light", "Arial", "Helvetica", "Sans-serif";
	height: 100%;
}
      
html a{
	text-decoration: none;
	color: #333;
}

html a:hover{
	text-decoration: none;
	color: #333;
}

body{
	height: 100%;
}


.display-none{
	display: none;
}

.no-float{
	float: none;
}

.auto-margin{
	margin: auto;
}

.float-right{
	float: right;
}

.float-left{
	float: left;
}

.text-center{
	text-align: center;
}

.bold{
	font-weight: bold;
}

.uppercase{
	text-transform: uppercase;
}

.block{
	display: block;
}

.inline-block{
	display: inline-block;
}

.align-top{
	vertical-align: top;
}

.relative{
	position: relative;
}

.single-line{
	white-space: nowrap;
	overflow: hidden;
}

.loading-img-wrapper{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
	opacity: 0;
	filter:alpha(opacity=0);
}

.loading-wrapper{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	z-index: 1;
	text-align: center;
	background: #fff;
}

.loading-img{
	background: url("../img/global/loading.gif") no-repeat;
	height: 35px;
	width: 35px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.loading-logo{
	background: url("../img/global/logo-01.png") no-repeat;
	width: 500px;
	height: 500px;
	margin: auto;
	margin-top: 10%;
}

.loading-img-wrapper.active{
	display: block;
	opacity: 1;
	filter:alpha(opacity=100);
}

#wrapper {
	position:relative;
    padding-left: 0px;
    transition: all .4s ease 0s;
    overflow:auto;
	height: auto;
}


#header{
	height: auto;
	color: #fff;
	position: fixed;
	z-index: 1;
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	background-color: #fff;
}

#header .header-centre{
	width: auto;
	position: relative;
	margin: auto;
}

#header #main-logo{
	vertical-align: middle;
	margin: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 50px;
}

#header .noshow #main-logo{
	width: 0px;
	height: 50px;
}

#header #right-navigation-wrapper{
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	vertical-align: middle;
	height: 26px;
	margin: auto;
}

#header .nav-wrapper{
	display: inline-block;
	vertical-align: middle;
}

#header .contact-image-wrapper{
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}

#header .mail-image{

}

#header .mail-image:hover{
	
}

#header #main-navbar-menu{
	margin: 11px;
	padding: 10px;
	position: relative;
}

#header .menu-key-line{
	border-bottom: 3px solid #000;
	width: 30px;
	height: 4px;
	margin-bottom: 4px;
}

#header .divider{
	height: 1px;
	overflow: hidden;
	background-color: rgba(0,0,0,0.1);
	width: 90%;
	margin: auto;
}

#header .navbar-nav{
	margin: 0px;
}

#header .primary-nav{
	height: 25px;
}

#header .dropdown.open a{
	text-decoration: none;
	border-bottom: 2px solid #FF3030;
	color: #000;
	background-color: transparent;

	
}

#header .primary-nav li{
	position: relative;
	display: inline-block;
}

#header .primary-nav li{
	margin-left:10px;
	margin-right:10px;
}

#header .primary-nav li a{
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	display: block;
	font-size: 16px;
	margin-left:0px;
	margin-right:0px;
	color: #000;
	text-decoration: none;
}

#header .primary-nav li a:hover{
	border-bottom: 2px solid #FF3030;
	color: #000;
}

#header .primary-nav .dropdown-menu{
	right: 0;
	left: auto;	
	width: 100%;
	min-width: 200px;
}

#header .primary-nav .dropdown-menu li{
		display: block;
}

#header .primary-nav .dropdown-menu li a{
	background-color: transparent;
	border-bottom: transparent;
	background: none;
}

#header .primary-nav .dropdown-menu li:hover{
	background-color: #FF3030;
}	

#header .primary-nav .dropdown-menu li a:hover{
	color: #fff;	
}

#header .navbar-collapse{
	max-height: none;
	padding-left: 0px;
	padding-right: 0px;
}

.form-group label{
	margin-bottom: 5px;
}

.form-group label.error{
	margin-bottom: 0px;
	margin-top: 0px;
	font-size:12px;
	color: red;
}

.form-group{
	height: 80px;
	margin-bottom: 0px;
}

.title{
	border-bottom: 1px solid rgba(0,0,0,1);
	margin-bottom: 10px;
	font-size: 40px;
	display: inline-block;
}


/*
* home
*/

.home {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.home .home-background{
	position: absolute;
	background: #04335F;
	background: url("../img/global/home-background.png");
	width: 100%;
	height: 100%;
	min-height: 370px;
}


.home .fake-height{
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0px;
}

.home .container{
	display: inline-block;
	margin: auto;
	text-align: left;
	vertical-align: middle;
	width: 98%;
	margin-bottom: 10%;
}

.home .home-title{
	color: #fefefe;
	font-size: 27px;
	text-align: center;
	margin-bottom: 20px;
}


.overview{
	font-size: 24px;
}

.overview .overview-top-content{
	padding-left: 15px;
	padding-right: 15px;
}

.overview .overview-row-wrapper{
	margin-bottom: 10px;
}

.overview .overview-left-col{
	display: inline-block;
	min-width: 360px;
	margin-right: 20px;
	margin-bottom: 5px;
	font-family: "ProximaNova-Regular";
}

.overview .overview-right-col{
	display: inline-block;
	min-width: 360px;
	
}

.overview .overview-campaign-title-wrapper{
	font-size: 35px;
	padding: 10px;
}

.overview .overview-campaign-title-wrapper:hover{
	background-color: #FF3030;
	color: #fff;
}

.overview .collapse{
	padding-left: 15px;
	padding-right: 15px;
}

.overview .collapsing{
	padding-left: 15px;
	padding-right: 15px;
}




/*
Register
*/

.register {
	

}

.register .panel-heading{
	padding-left: 30px;
}

/*
UI VIEW ANIMATION
*/

#view-wrapper{
	z-index: 0;
	height: 100%;
	margin-top: 85px;

}

[ui-view].main-view{
	position: relative;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
	overflow: hidden;
}


/*
FOOTER
*/
	
#footer{
	height: auto;
	position: relative;
	bottom: 0;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
	color: #fff;
	background: #000;
	border-top: 1px solid rgba(255,255,255,0.1);
	z-index: 1;
}


@media (max-width:1499px) {

}

@media (max-width:1199px) {
	
}
	
@media (max-width:991px) {
		


	
	
}

@media (max-width:767px) {
	.loading-logo{
		background: url("../img/global/logo-02.png") no-repeat;
		width: 200px;
		height: 200px;
	}
	
	.title{
		font-size: 30px;
	}
	.overview{
		font-size: 18px;
	}
	
	.overview .overview-campaign-title-wrapper{
		font-size: 25px;
	}
		
	
	
	
	#header #main-logo{
		margin-top: 10px;
		margin-bottom: 9px;
	}
		

		
	#header .navbar-nav{
	
	}
	
	#header #right-navigation-wrapper{
		display: block;
		border-bottom: 1px solid rgba(255,255,255,0.1);
		position: relative;
		height: auto;
	}
	
	#header .nav-wrapper{
		display: block;
	}
	
	#header .contact-image-wrapper{
		display: none;
	}
	
	#header .primary-nav{
		height: auto;
	}
	
	#header .primary-nav li a{
		padding: 15px;
		margin: 0px;
	}
	
	#header .primary-nav li a:hover{
		background-color: #FF3030;
		color: #fff;
		border-bottom: none;
	}
	
	#header .primary-nav{
		float: none;
		position: relative;
		width: auto;
		right: auto;
	}
	
	#header .primary-nav li{
		float: none;
		display: block;
	}

	#view-wrapper{
		margin-top: 85px;
	}
		
}

/* mobile */

@media (max-width:480px) {
	
}

@media (max-width:479px) {

}

@media (max-width: 319px) {
	
}

@media (max-height: 330px) {
	
}


@media (max-height: 600px) {
	#header {
		position: relative;
	}
	
	#wrapper {
	    overflow: visible;
	}
	
	#view-wrapper{
		margin-top: 15px;
	}
}

