<div class="findpublishers">

		<div>
			Publisher Filters
		</div>


		<div>
		Average Clicks Per Campaign 
		</div>
		
		<div>
			<div class="slider-container">
	    	<input ng-model="clicks"  type="text" id="clicksSlider" slider options="clicksOptions" />

		</div>
		
		<div>
		Average Conversions Per Campaign
		</div>
		
		<div>
			<div class="slider-container">
	    	<input ng-model="conversion"  type="text" id="conversionSlider" slider options="conversionOptions" />

		</div>
		
		<div>
		Average Conversions % 
		</div>
		
		<div>
			<div class="slider-container">
	    	<input ng-model="conversionpct"  type="text" id="conversionPctSlider" slider options="conversionPctOptions" />

		</div>
		
		<div>
			Stats
		</div>
		
</div>