<div class="findadvertisers">

		<div>
			Advertiser Filters
		</div>

		<div>
		Active Campaigns 5
		</div>

		<div>Average Budget</div>
		<div class="slider-container">
	    	<input ng-model="budget"  type="text" id="budgetSlider" slider options="budgetOptions" />
		</div>
		
		<div>
		Footprint
		</div>
				
		<div>Average Campaign Conversions % </div>
			<div class="slider-container">
	    	<input ng-model="conversion"  type="text" id="conversionSlider" slider options="conversionOptions" />
		</div>
		
		
</div>