<div class="home">

	
	<div class="home-background"></div>
	<div class="fake-height"></div>
	
	<div class="container">
		<div class="col-sm-6 col-sm-offset-3  col-md-4 col-md-offset-4 col-lg-3 col-md-offset-6">
			<div class="home-title">fivesixseveneight</div>
			
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title"><strong>Sign In</strong></h3></div>
				<div class="panel-body">
					<form id="loginForm" ng-submit="loginSubmit()" action="" method="post">
						
						<div class="form-group">
							<label for="email">Email</label>
							<input name="email" type="email" ng-model="email" class="form-control" placeholder="Email">
						</div>
						
						<div class="form-group">
							<label for="password">Password <a ui-sref="root.home">(forgot password)</a></label>
							<input name="password" type="password" ng-model="password" class="form-control" placeholder="Password">
						</div>
			
						<button id="submitButton" type="submit" submit-form-clicked form-submit-complete-bln class="btn btn-sm btn-default">Sign in</button>
						<a ui-sref="root.primary.register" ><button type="button"  class="btn btn-sm btn-default">Register</button></a>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="fake-height"></div>
</div>