<div loading-toggle="400" class="loading-img-wrapper active">
	<div class="loading-wrapper">
		<div class="loading-logo"></div>
	</div>
</div>
  
<div id="wrapper" >
		<!-- Page content -->
		<div ui-view="header" ></div>
		
		<!-- Keep all page content within the page-content inset div! -->
		<div loading-view-toggle trans-time="400" id="view-wrapper" class="relative" >
	 			<!-- main content div -->
				<div class="main-view" ui-view="mainView"></div>
        </div>
	</div>
</div>

<div ui-view="footer" ></div>