<div class="activateregistration">
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<strong>
							Account Activated
						</strong>
					</h3>
				</div>
				<div class="panel-body">
					<div class="form-group col-md-12">
						<div class="padded-body">
							<div ng-if="!editBln">
								<div>Thank you for activating your account.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>