<div class="confirmregistration">

	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title"><strong>Confirm Registration</strong></h3></div>
				<div class="panel-body">

					<div class="form-group col-md-12">
					
						<div class="padded-body">
							<div ng-if="!editBln">
								<div>Thank you <strong>{{userObj.firstnameStr}}</strong> for registering.</div>
								</br>
								<div>Please check your inbox at {{userObj.emailStr}} to activate your registration.</div>
							</div>
							
							
							
								<form ng-if="editBln" id="confirmRegisterForm" ng-submit="confirmRegisterSubmit()" action="" method="post">
								
								<div class="form-group col-md-12">
									<label for="email">Please enter your updated email</label>
									<input name="email" type="email" ng-model="userObj.newEmailStr" class="form-control" maxlength="255" placeholder="Email">						
								</div>
								
								<div class="form-group col-md-12">
									<label for="email2">Retype email</label>
									<input name="email2" type="email" ng-model="userObj.newEmail2Str" class="form-control" maxlength="255" placeholder="Retype E-mail">
								</div>
					
					
								</br>
								<button type="submit" class="btn btn-sm btn-default">Submit</button>
								<button type="submit" ng-click="cancelChangeEmail()"   class="btn btn-sm btn-default">Cancel</button>
								
								</form>
							
	
						</div>
						
						<div ng-if="!editBln">
							<a ng-click="resendEmail()" >
							Resend activation email
							</a>
							
							<a ng-click="changeEmail()" >
							Update email
							</a>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>

</div>