<div class="register">

	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title"><strong>Sign Up</strong></h3></div>
				<div class="panel-body">
					<form id="registerForm" ng-submit="registerSubmit()" action="" method="post">

						<div class="form-group col-md-6">
							<label for="firstname">First Name</label>
							<input name="firstname" type="text" ng-model="firstname" class="form-control" maxlength="35" placeholder="First Name">
						</div>
						
						<div class="form-group col-md-6">
							<label for="lastname">Last Name</label>
							<input name="lastname" type="text" ng-model="lastname" class="form-control" maxlength="35" placeholder="Last Name">
						</div>
						
						<div class="form-group col-md-12">
							<label for="username">Username</label>
							<input name="username" type="text" ng-model="username" class="form-control" maxlength="30" placeholder="Username">
						</div>
						
						<div class="form-group col-md-12">
							<label for="email">E-mail</label>
							<input name="email" type="email" ng-model="email" class="form-control" maxlength="255" placeholder="E-mail">
						</div>
						
						<div class="form-group col-md-12">
							<label for="email2">Retype email</label>
							<input name="email2" type="email" ng-model="email2" class="form-control" maxlength="255" placeholder="Retype E-mail">
						</div>
						
						<div class="form-group col-md-12">
							<label for="password">Password</label>
							<input name="password" type="password" ng-model="password" class="form-control"  minlength="8" maxlength="100" placeholder="Password">
						</div>
						
						<div class="form-group col-md-12">
							<label for="password2">Retype Password</label>
							<input name="password2" type="password" ng-model="password2" class="form-control"  maxlength="100" placeholder="Retype Password">
						</div>
						
						<!-- 
						<div class="form-group">
							<label for="password2">Re-enter Password</label>
							<input name="password2" type="password2" ng-model="password2" class="form-control" placeholder="Re-Enter Password">
						</div>
						 -->
				

						<!--
						<div class="form-group">
							<label for="phone">Phone Number</label>
							<input name="phone" type="tel" ng-model="phone" class="form-control" placeholder="(416)">
						</div>
						
						<div class="form-group">
							<label for="companyname">Company</label>
							<input name="companyname" type="text" ng-model="companyname" class="form-control" placeholder="Company Name">
						</div>
						
						<div class="form-group">
							<label for="address">Address</label>
							<input name="address" type="text" ng-model="address" class="form-control" placeholder="Address">
						</div>
						
						<div class="form-group">
							<label for="country">Country</label>
							<select class="form-control" ng-model="country"  name="country">
								<option ng-repeat="country in countriesListArr" value="{{country.countryCodeStr}}">{{country.countryNameStr}}</option>
							</select>
						</div>
						
						<div class="form-group">
							<label for="state">State / Province</label>
							<input name="state" type="text" ng-model="state" class="form-control" placeholder="State">
						</div>
						
						<div class="form-group">
							<label for="city">City</label>
							<select class="form-control" ng-model="city"  name="city">
								<option ng-repeat="city in citiesListArr" value="{{city.city}}">{{city.city}}</option>
							</select>
						</div>
						
						<div class="form-group">
							<label for="zip">Zip / Postal Code</label>
							<input name="zip" type="text" ng-model="zip" class="form-control" placeholder="12345">
						</div>
						 -->
						 
						<div ng-if="messageStr" class="col-md-12">
							<div>{{messageStr}}</div>
							<br>
						</div>
						
						 <div class="col-md-12">
							<button id="submitButton" type="submit" submit-form-clicked form-submit-complete-bln class="btn btn-sm btn-default">Sign up</button>
							<a ui-sref="root.primary.login" ><button type="button"  class="btn btn-sm btn-default">Cancel</button></a>
							
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>