<div class="editProfile col-xs-12">
	
		
					<script type="text/ng-template" id="myModalContent.html">
                   <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>	
     </script>
									
				    <button class="btn btn-default" ng-click="open()">Open me!</button>
				    <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
				    <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
				    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
			
			
			
	
	<div class="profileTopWrapper col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4" >
		<div class="profileImageWrapper col-xs-12">
			<img class="profileImage"  src="img/profile/default.png"/>
		</div>
	
		<div class="profileQuickBio col-xs-12">
				</br>
				<div class="form-group col-xs-12">
					<label>First Name</label>
			    	<input type="text" ng-model="userObj.firstnameStr" class="form-control" placeholder="First Name">
			    </div>
			    
			    <div class="form-group col-xs-12">
					<label>Last Name</label>
			    	<input type="text" ng-model="userObj.lastnameStr" class="form-control" placeholder="Last Name">
			    </div>
			    
			    <div class="form-group col-xs-12">
					<label>Company </label>
			    	<input type="text" ng-model="userObj.companyStr" class="form-control" placeholder="Company">
			    </div>
			    
			    <div class="form-group col-xs-12">
					<label>Website</label>
			    	<input type="text" ng-model="userObj.websiteStr" class="form-control" placeholder="Website">
			    </div>
	
		</div>
			
		<div class="profileBio col-xs-12">
		
			<div class="form-group col-xs-12">
				<label>About me</label>
		    	<textarea ng-model="userObj.bioStr" class="form-control" placeholder=""></textarea>  		
			</div>
						
			<div class="form-group col-xs-12">
				<label>Campaigns I support</label>
		    	<textarea ng-model="userObj.supportStr" class="form-control" placeholder=""></textarea>  		
		    </div>
		    
			<div class="form-group col-xs-12">
				<label>My Primary Audience</label>
		    	<textarea ng-model="userObj.audienceStr" class="form-control" placeholder=""></textarea>
		    </div>
			    	
			<div class="form-group col-xs-12">
				<label>Locations</label>
		    	<input ng-model="userObj.locationsStr" class="form-control" placeholder="Locations"/>
		    </div>
			
			<div class="form-group col-xs-12">
				<label>Markets</label>
		    	<input ng-model="userObj.marketsStr" class="form-control" placeholder="Markets"/>
		    </div>
			
			<div>
				<button id="submitButton" type="submit" ng-click="saveProfile()" submit-form-clicked form-submit-complete-bln class="btn btn-sm btn-default pull-right">Save</button>
  		 	</div>
		</div>
	</div>
	
	
	<div class="profileBottomWrapper col-xs-12 col-sm-6 col-md-offset-0 col-md-5">
	
		<div class="profileCampaigntitle col-xs-12">Social Media Accounts</div>
		
		<div class="profile-section-title col-xs-12">Facebook</div>
		
		<div ng-if="userObj.facebookObj" class="col-xs-12">
			<div class="profile-row-wrapper col-xs-12">
				<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-8 col-md-9">
				Facebook Id
				</div>
				<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2">
				{{userObj.facebookObj.facebookIdNum}}
				</div>
			</div>
			<div class="profile-row-wrapper col-xs-12">
				<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-8 col-md-9">
				Facebook Link
				</div>
				<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2">
				 {{userObj.facebookObj.linkStr}}
				</div>
			</div>
			<div class="profile-row-wrapper col-xs-12">
				<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-8 col-md-9">
				Name
				</div>
				<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2">
				 {{userObj.facebookObj.firstNameStr}}  {{userObj.facebookObj.lastNameStr}}
				</div>
			</div>
			<div class="profile-row-wrapper col-xs-12">
				<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-8 col-md-9">
				Number of friends
				</div>
				<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2">
				{{userObj.facebookObj.friendsCountNum}}
				</div>
			</div>

			<div class="profile-row-wrapper col-xs-12">
				<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-8 col-md-9">
				Refresh Facebook stats
				</div>
				<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2">
					<button type="submit" ng-click="refreshFacebook()" submit-form-clicked form-submit-complete-bln class="btn btn-sm btn-default pull-right">Refresh</button>
				</div>
			</div>
			<div class="profile-row-wrapper col-xs-12">
				<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-8 col-md-9">
				Remove Facebook account
				</div>
				<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2">
					<button type="submit" ng-click="removeFacebook()" submit-form-clicked form-submit-complete-bln class="btn btn-sm btn-default pull-right">Remove</button>
				</div>
			</div>
		</div>
		
		<div ng-if="!userObj.facebookObj" class="col-xs-12">	
			<div class="profile-row-wrapper col-xs-12">
				<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-8 col-md-9">
					Connect Facebook account
				</div>
				<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2">
				     <input class="pull-right" type="checkbox">
				</div>
			</div>
		</div>
		</br>
	

		<!-- 
			<div>
				<div class="col-xs-12">Twitter</div>
				<div class="col-xs-12">Allow published campaigns on Twitter</div>
			</div>
			<div>
				<div class="col-xs-12">Google+</div>
				<div class="col-xs-12">Allow published campaigns on Google+</div>
			</div>
			<div>
				<div class="col-xs-12">Youtube</div>
				<div class="col-xs-12">Allow published campaigns on Youtube</div>
			</div>
			<div>
				<div class="col-xs-12">Instagram</div>
				<div class="col-xs-12">Allow published campaigns on Instagram</div>
			</div>
			<div>
				<div class="col-xs-12">Pinterest</div>
				<div class="col-xs-12">Allow published campaigns on Pinterest</div>
			</div>
			<div>
				<div class="col-xs-12">Vine</div>
				<div class="col-xs-12">Allow published campaigns on Vine</div>
			</div>
		 -->
		
		
	</div>


</div>
	
	
	
	
	
	
	
	
	
