<div class="profile">
	
	
	<div class="profileTopWrapper col-sm-12 col-md-offset-2 col-md-4" >
		<div class="profileImageWrapper">
			<img class="profileImage"  src="img/profile/default.png"/>
		</div>
		<div class="profileEditButton">Edit Profile</div>		

			
		<div class="profileBio">
			<div class="profileName">
				Username
			</div>
			
			<div>
				Company
			</div>
			
			<div>
				Website
			</div>
			
			<div>
				Social Media Links
			</div>
			
			<div>
				# Active Campaigns
			</div>
			
			<div>
				# Connections
			</div>
			
			<div>
				Last Active
			</div>
			
			<div>
				Date Joined
			</div>
			
			<div class="profile-section-title">About me</div>
			
			<div class="profileSupportCampaign">
				<div class="profile-title">Campaigns I support</div>
				<div class="profile-sub-title"> test </div>
			</div>
			
			<div>
				<div class="profile-title">My Primary Audience</div>
				<div class="profile-sub-title"> test</div>
			</div>
			
			<div>
				<div class="profile-title">Locations</div>
				<div class="profile-sub-title"> test</div>
			</div>
			
			<div>
				
				<div class="profile-title">Markets</div>
				<div class="profile-sub-title"> test</div>
			</div>
		</div>
		
		
		
		
		
	</div>
		
	
	<div class="profileBottomWrapper col-xs-12 col-md-5">
		<div class="profileCampaigntitle col-xs-12">User Stats</div>
		
		<div class="profileStats col-xs-12">
		
			<div class="profile-advertise-stats-wrapper col-xs-12">
					<div class="profile-section-title">Advertising Stats</div>
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-6 col-md-8">
						Number of advertised campaigns
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-0 col-sm-3 col-md-4 ">
						50
						</div>
					</div>
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-6 col-md-8">
						Average cost per click
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-0 col-sm-3 col-md-4 ">
						$0.3
						</div>
					</div>
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-6 col-md-8">
						Average cost per conversion
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-0 col-sm-3 col-md-4 ">
						$0.3
						</div>
					</div>
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-6 col-md-8">
						Average conversion rate
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-0 col-sm-3 col-md-4 ">
						12%
						</div>
					</div>
					
						
			</div>
					
					<div id="advertisingCampaignAccordion" class="col-xs-12">
							  <div class="profile-row-wrapper col-xs-12">
								  <a data-toggle="collapse" data-parent="#advertisingCampaignAccordion" href="#collapseGeoAdvertise">
							      	<div class="profile-title">
							        	Geographical targets <span class="caret"></span>
							    	</div>
							  </a>
							  <div id="collapseGeoAdvertise" class="collapse">
							      
									Canada
									<br>
									United States
									<br>
									Europe							    
							  </div>
							</div>
							
							
						  <div class="profile-row-wrapper col-xs-12">
							  <a data-toggle="collapse" data-parent="#advertisingCampaignAccordion" href="#collapseAdvertise">
						      	<div class="profile-title">
						        	Show last 10 Advertising Campaigns <span class="caret"></span>
						    	</div>
						  </a>
						  <div id="collapseAdvertise" class="collapse">
						      
						       Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						    
						  </div>
						</div>
					
					</div>
			
			<div class="profile-publisher-stats-wrapper col-xs-12">
				<div class="profile-section-title">Publishing Stats</div>
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-6 col-md-8">
						Number of published campaigns
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-0 col-sm-3 col-md-4 ">
						50
						</div>
					</div>
					<div class="profile-row-wrapper col-xs-12">
					<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-6 col-md-8">
						Average cost per click
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-0 col-sm-3 col-md-4 ">
						$0.3
						</div>
					</div>
					<div class="profile-row-wrapper col-xs-12">
					<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-6 col-md-8">
						Average cost per conversion
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-0 col-sm-3 col-md-4 ">
						$0.3
						</div>
					</div>
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-6 col-md-8">
						Clicks #
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-0 col-sm-3 col-md-4 ">
						300
						</div>
					</div>
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-6 col-md-8">
						Conversions #
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-0 col-sm-3 col-md-4 ">
						300
						</div>
					</div>
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-6 col-md-8">
						Average conversion rate
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-0 col-sm-3 col-md-4 ">
						12%
						</div>
					</div>
					
					
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-6 col-md-8">
						Count
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-0 col-sm-3 col-md-4 ">
						100
						</div>
					</div>
					
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-6 col-md-8">
						Count 2
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-0 col-sm-3 col-md-4 ">
						200
						</div>
					</div>
					
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-6 col-md-8">
						Count 3
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-0 col-sm-3 col-md-4 ">
						300
						</div>
					</div>
					
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-6 col-md-8">
						Count 4
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-0 col-sm-3 col-md-4 ">
						400
						</div>
					</div>
					
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-6 col-md-8">
						Count 5
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-0 col-sm-3 col-md-4 ">
						500
						</div>
					</div>
				
				</div>
				
				<div id="publishingCampaignAccordion" class="col-xs-12">
				  <div class="profile-row-wrapper col-xs-12">
					  <a data-toggle="collapse" data-parent="#publishingCampaignAccordion" href="#collapseGeoPublish">
				      	<div class="profile-title">
				        	Geographical influence <span class="caret"></span>
				    	</div>
					  </a>
					  <div id="collapseGeoPublish" class="collapse">
							Canada
							<br>
							United States
							<br>
							Europe					    
					  </div>
				  </div>
				  
				  <div class="profile-row-wrapper col-xs-12">
					  <a data-toggle="collapse" data-parent="#publishingCampaignAccordion" href="#collapsePublish">
				      	<div class="profile-title">
				        	Show last 10 Publishing Campaigns <span class="caret"></span>
				    	</div>
					  </a>
					  <div id="collapsePublish" class="collapse">
					      
					       Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					    
					  </div>
				  </div>
				  
				</div>
				
				
				
			</div>
		</div>
</div>
	
	
	
	
	
	
	
	
	
