<div class="profile col-xs-12">
	
	
	<div class="profileTopWrapper col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4" >
		<div class="profileImageWrapper col-xs-12">
			<img class="profileImage"  src="img/profile/default.png"/>
		</div>
	
		<div class="profileQuickBio col-xs-12">
			
			<div ng-if="!editBln" >
			
				
				<div ng-if="userObj.usernameStr" class="profileBioDetails" >{{userObj.usernameStr}}</div>
				
				<div ng-if="userObj.firstnameStr" class="profileBioDetails" >{{userObj.firstnameStr}}</div>
				
				<div ng-if="userObj.lastnameStr" class="profileBioDetails" >{{userObj.lastnameStr}}</div>
				
				<div ng-if="userObj.companyStr" class="profileBioDetails" >{{userObj.companyStr}}</div>
								
				<div ng-if="userObj.websiteStr" class="profileBioDetails" >{{userObj.websiteStr}}</div>
				
				<div ng-if="userObj.facebookStr" class="profileBioDetails" >{{userObj.facebookStr}}</div>
				
				<div ng-if="userObj.twitterStr" class="profileBioDetails" >{{userObj.twitterStr}}</div>
				
				<div ng-if="userObj.youtubeStr" class="profileBioDetails" >{{userObj.youtubeStr}}</div>
				
				<div ng-if="userObj.instagramStr" class="profileBioDetails" >{{userObj.instagramStr}}</div>
				
				<div ng-if="userObj.googleplusStr" class="profileBioDetails" >{{userObj.googleplusStr}}</div>
				
				<div ng-if="userObj.vineStr" class="profileBioDetails" >{{userObj.vineStr}}</div>
				
				<div ng-if="userObj.pinterestStr" class="profileBioDetails" >{{userObj.pinterestStr}}</div>
				
				<div ng-if="userObj.activeCampaignNum" class="profileBioDetails" >Active Campaigns {{userObj.activeCampaignNum}}</div>
				
				<div ng-if="userObj.connectionsNum" class="profileBioDetails" >Connections {{userObj.connectionsNum}}</div>
				
				<div ng-if="userObj.lactActiveDate" class="profileBioDetails" >Last Active {{userObj.lactActiveDate}} </div>
				
				<div ng-if="userObj.joinedDate" class="profileBioDetails" >Date Joined {{userObj.joinedDate}}</div>
				
				
		
			</div>
			
			<div ng-if="editBln" >
						
				<div class="form-group col-xs-12">
					<label>First Name</label>
			    	<input type="text" ng-model="userObj.firstnameStr" class="form-control" placeholder="First Name">
			    </div>
			    
			    <div class="form-group col-xs-12">
					<label>Last Name</label>
			    	<input type="text" ng-model="userObj.lastnameStr" class="form-control" placeholder="Last Name">
			    </div>
			    
			    <div class="form-group col-xs-12">
					<label>Company </label>
			    	<input type="text" ng-model="userObj.companyStr" class="form-control" placeholder="Company">
			    </div>
			    
			    <div class="form-group col-xs-12">
					<label>Website</label>
			    	<input type="text" ng-model="userObj.websiteStr" class="form-control" placeholder="Website">
			    </div>
			  
			    
			</div>
			
			
		
			
				
		</div>
			
		<div class="profileBio col-xs-12">
		
			<div class="profileBioTitle col-xs-12">
				<div class="profile-section-title col-xs-8 col-sm-offset-0 col-sm-8 col-md-9">About me</div>
				
				<div ng-if="!editBln" ng-click="editProfile()" class="profileEditButton col-xs-offset-2 col-xs-2 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2">Edit</div>	
			
			</div>
			
		
			
			<div class="form-group col-xs-12">
				<label>Campaigns I support</label>
				<div ng-if="editBln">
		    		<textarea ng-model="aboutObj.supportStr" class="form-control" placeholder=""></textarea>
		   		</div>
		   		<div ng-if="!editBln">
   		 			<div class="profile-sub-title">{{aboutObj.supportStr}}</div>
   		 		</div>
		    </div>
		    
		    	
			<div class="form-group col-xs-12">
				<label>My Primary Audience</label>
				<div ng-if="editBln">
		    	<textarea ng-model="aboutObj.audienceStr" class="form-control" placeholder=""></textarea>
		   		</div>
   		 		<div ng-if="!editBln">
   		 			<div class="profile-sub-title">{{aboutObj.audienceStr}}</div>
   		 		</div>
		    </div>
			    	
			<div class="form-group col-xs-12">
				<label>Locations</label>
				<div ng-if="editBln">
		    	<input ng-model="aboutObj.locationsStr" class="form-control" placeholder="Locations"/>
		   		</div>
   		 		<div ng-if="!editBln">
   		 			<div class="profile-sub-title">{{aboutObj.locationsStr}}</div>
   		 		</div>
		    </div>
			
			<div class="form-group col-xs-12">
				<label>Markets</label>
				<div ng-if="editBln">
		    	<input ng-model="aboutObj.marketsStr" class="form-control" placeholder="Markets"/>
		   		</div>
   		 		<div ng-if="!editBln">
   		 			<div class="profile-sub-title">{{aboutObj.marketsStr}}</div>
   		 		</div>
		    </div>
			
			<div ng-if="editBln">
				<button id="submitButton" type="submit" ng-click="saveProfile()" submit-form-clicked form-submit-complete-bln class="btn btn-sm btn-default">Submit</button>
  		 	</div>
		</div>
	</div>
		
	<div class="profileBottomWrapper col-xs-12 col-sm-6 col-md-offset-0 col-md-5">
		<div class="profileCampaigntitle col-xs-12">User Stats</div>
		
		<div class="profileStats col-xs-12">
		
			<div class="profile-advertise-stats-wrapper col-xs-12">
					<div class="profile-section-title">Advertising Stats</div>
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-8 col-md-9">
						Number of advertised campaigns
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2">
						50
						</div>
					</div>
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-8 col-md-9">
						Average cost per click
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2">
						$0.3
						</div>
					</div>
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-8 col-md-9">
						Average cost per conversion
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2">
						$0.3
						</div>
					</div>
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-8 col-md-9">
						Average conversion rate
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2">
						12%
						</div>
					</div>
					
						
			</div>
					
					<div id="advertisingCampaignAccordion" class="col-xs-12">
							  <div class="profile-row-wrapper col-xs-12">
								  <a data-toggle="collapse" data-parent="#advertisingCampaignAccordion" href="#collapseGeoAdvertise">
							      	<div class="profile-title">
							        	Geographical targets <span class="caret"></span>
							    	</div>
							  </a>
							  <div id="collapseGeoAdvertise" class="collapse">
							      
									Canada
									<br>
									United States
									<br>
									Europe							    
							  </div>
							</div>
							
							
						  <div class="profile-row-wrapper col-xs-12">
							  <a data-toggle="collapse" data-parent="#advertisingCampaignAccordion" href="#collapseAdvertise">
						      	<div class="profile-title">
						        	Show last 10 Advertising Campaigns <span class="caret"></span>
						    	</div>
						  </a>
						  <div id="collapseAdvertise" class="collapse">
						      
						       Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						    
						  </div>
						</div>
					
					</div>
			
			<div class="profile-publisher-stats-wrapper col-xs-12">
				<div class="profile-section-title">Publishing Stats</div>
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-8 col-md-9">
						Number of published campaigns
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2">
						50
						</div>
					</div>
					<div class="profile-row-wrapper col-xs-12">
					<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-8 col-md-9">
						Average cost per click
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2">
						$0.3
						</div>
					</div>
					<div class="profile-row-wrapper col-xs-12">
					<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-8 col-md-9">
						Average cost per conversion
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2">
						$0.3
						</div>
					</div>
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-8 col-md-9">
						Clicks #
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2">
						300
						</div>
					</div>
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-8 col-md-9">
						Conversions #
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2">
						300
						</div>
					</div>
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-8 col-md-9">
						Average conversion rate
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2">
						12%
						</div>
					</div>
					
					
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-8 col-md-9">
						Count
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2">
						100
						</div>
					</div>
					
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-8 col-md-9">
						Count 2
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2">
						200
						</div>
					</div>
					
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-8 col-md-9">
						Count 3
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2">
						300
						</div>
					</div>
					
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-8 col-md-9">
						Count 4
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2">
						400
						</div>
					</div>
					
					<div class="profile-row-wrapper col-xs-12">
						<div class="profile-left-col  col-xs-8 col-sm-offset-0 col-sm-8 col-md-9">
						Count 5
						</div>
						<div class="profile-right-col  col-xs-offset-2 col-xs-2 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2">
						500
						</div>
					</div>
				
				</div>
				
				<div id="publishingCampaignAccordion" class="col-xs-12">
				  <div class="profile-row-wrapper col-xs-12">
					  <a data-toggle="collapse" data-parent="#publishingCampaignAccordion" href="#collapseGeoPublish">
				      	<div class="profile-title">
				        	Geographical influence <span class="caret"></span>
				    	</div>
					  </a>
					  <div id="collapseGeoPublish" class="collapse">
							Canada
							<br>
							United States
							<br>
							Europe					    
					  </div>
				  </div>
				  
				  <div class="profile-row-wrapper col-xs-12">
					  <a data-toggle="collapse" data-parent="#publishingCampaignAccordion" href="#collapsePublish">
				      	<div class="profile-title">
				        	Show last 10 Publishing Campaigns <span class="caret"></span>
				    	</div>
					  </a>
					  <div id="collapsePublish" class="collapse">
					      
					       Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					    
					  </div>
				  </div>
				  
				</div>
				
				
				
			</div>
		</div>
</div>
	
	
	
	
	
	
	
	
	
